---
import { slide } from "astro:transitions";


function padTo2Digits(num:number) {
  return num.toString().padStart(2, '0');
}

const date = new Date();

const day = date.getDate();
const month = date.getMonth();
const year = date.getFullYear();

const tomorrow = year+"-"+padTo2Digits(month)+"-"+padTo2Digits(day+1)
const max = year+"-"+month+"-"+(day+30)

// console.log(tomorrow)

const slidesData : {
    heading: {
        type: number,
        text: string
    }[],
    subheading: string,
    para: string,
    image: string
}[] = [
    {
        heading: [
            {
                type: 0,
                text: "Let your kids and their group have lots of fun with multiple activities."
            },
        ],
        subheading: "Fun beyond desire",
        para: "Fun and refreshments are invariably required for the kids, especially in infancy Kids like to enjoy multiple activities and games as per their domain. Let’s help them explore various fun moments and let them be refreshed.",
        image: "/img/birthday-banner01.webp"
    },
]

// const handleHeading = (item: {
//     type: number,
//     text: string
// }) => {
//     switch (item.type) {
//         case 0:
//             return (
//                 <span>{item.text}</span>
//             )
//             break;
    
//         default:
//             break;
//     }
// }
---
<section id="hero" class="relative w-full flex justify-center px-5 md:px-10">

    <!-- container -->
    <div class="relative w-full max-w-custom1 md:border-4 md:rounded-xl bg-white bg-opacity-70 backdrop-blur md:px-7">
        
        <div class="swiper-slide justify-between" style="display: flex;">

            <!-- text container -->
            <div class="/my-10 relative LeftCont w-full max-w-xl py-1 pt-5 md:py-10 flex flex-col items-center md:items-start justify-center space-y-5">

                <div class="w-[70%] md:w-72">
                    <img src="/svg/brand/playtopiaLogo.svg" alt="">
                </div>

                <!-- form -->
                <div class="w-full h-full flex">
                    <form class="relative w-full max-w-lg py-10 px-7 md:px-10 border-4 border-mPink-400 rounded-xl grid gap-5" method="post" action="/thanks.php">

                        <h1 class="hero">
                            {
                                slidesData[0].heading.map((item, index) => {
                                    switch (item.type) {
                                        case 0:
                                            return (
                                                <span>
                                                    {item.text}
                                                </span>
                                            )
                                            break;
    
                                        case 1:
                                            return (
                                                <span class="high decoration-mPurple-400">
                                                    {item.text}
                                                </span>
                                            )
                                            break;
    
                                        case 2:
                                            return (
                                                <span class="high decoration-mYellow-400">
                                                    {item.text}
                                                </span>
                                            )
                                            break;

                                        case 3:
                                            return (
                                                <span class="high decoration-mCyan-400">
                                                    {item.text}
                                                </span>
                                            )
                                            break;
                                    
                                        default:
                                            break;
                                    }
                                })
                            }
                        </h1>

                        <div class="grid">
                            <label for="" class="text-xs font-bold pl-4 mb-2">Your Ward's Name</label>
                            <input type="text" name="name" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="ex. Tanmay" required>
                        </div>

                        <div class="grid">
                            <label for="" class="text-xs font-bold pl-4 mb-2">Guardian's Name</label>
                            <input type="text" name="parentName" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="Rahul" required>
                        </div>

                        <div class="grid">
                            <label for="" class="text-xs font-bold pl-4 mb-2">Guardian's Email</label>
                            <input type="email" name="email" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="rahul@example.com" required>
                        </div>

                        <div class="grid">
                            <label for="" class="text-xs font-bold pl-4 mb-2">Guardian's Phone</label>
                            <input type="tel" name="phone" class="border py-2 px-4 rounded-lg border-mgray-600 w-full" placeholder="+91 0123456789" required>
                        </div>

                        <div class="flex items-center">
                            <label for="" class="text-xs font-bold pl-4 mr-4">Your Ward's Age</label>
                            <select name="age" id="" class="border rounded-lg py-2 px-4 border-mgray-600 w-full" required>
                                <option value="" selected hidden disabled>--choose age--</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="flex items-center">
                            <label for="" class="text-xs font-bold pl-4 mr-4">Your Ward's Date of Birth</label>
                            <input type="date" name="date" placeholder="dd/mm/yyyy" required class="border py-2 px-4 rounded-lg border-mgray-600 w-full">
                            <span class="validity"></span>
                        </div>

                        <div class="grid">
                            <input type="submit" name="submit" class="border py-2 px-4 rounded-lg border-transparent bg-mYellow-400 font-semibold cursor-pointer" placeholder="ex. Rahul">
                        </div>

                    </form>
                </div>

            </div>

            <!-- second container -->
            <div class="RightCont absolute md:relative 
            top-0 md:top-auto 
            left-0 md:left-auto 
            w-full h-full md:w-auto md:h-auto 
            -z-10 md:z-auto transition-all duration-500 delay-500 md:py-10 md:pr-10">
                <div class="relative w-full h-full /md:w-96 overflow-hidden rounded-lg md:rounded-xl">
                    <img src={slidesData[0].image} class="w-full h-full object-contain /object-cover" alt="banner1pic">
                </div>
            </div>

        </div>

    </div>

</section>